<section>
  <h1>{{titulo}}</h1>

  <p>
    Puedes contactarnos usando los siguientes datos:
  </p>

  <ul>
    <li>Correo: {{correo}}</li>
    <li>Teléfono: {{telefono}}</li>
    <li>Ciudad: {{ciudad}}</li>
  </ul>
</section>