<section class="card">
  <h2>Login de usuario</h2>

  <form id="loginForm">

    <input type="email" id="loginEmail" placeholder="Email" />
    <input type="password" id="loginPassword" placeholder="Contraseña" />

    <button type="submit">Iniciar Sesión</button>

  </form>

  <pre id="loginResult"></pre>
</section>