<section class="card">

  <h2>Registro de usuario</h2>

  <form id="registerForm">

    <input type="text" id="fullName" placeholder="Nombre completo" />
    <input type="text" id="rut" placeholder="RUT" />
    <input type="text" id="address" placeholder="Dirección" />
    <input type="text" id="phone" placeholder="Teléfono" />
    <input type="email" id="registerEmail" placeholder="Email" />
    <input type="password" id="registerPassword" placeholder="Contraseña" />

    <button type="submit">Registrarme</button>

  </form>

  <pre id="registerResult"></pre>
</section>